<div class="page-header">
  <h2>User  <small>Signup</small></h2>
</div>

<div style="background-color: #B2DAE8; width:25%; ">

<%= nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :first_name %>
  <%= f.text_field :first_name %></div><br />
  
  <div><%= f.label :last_name %>
  <%= f.text_field :last_name %></div><br />

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div><br />

  <div><%= f.label :password %>
  <%= f.password_field :password %></div><br />

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div><br />
  
  <div><%= f.label :date_of_birth %>
  <%= f.date_select :date_of_birth, :start_year => 1910 %></div><br />
  
  <div><%= f.label :gender %>
  <%= f.select :gender, options_for_select([["Male", "m"], ["Female", "f"]]) %></div><br />
  
  <div><%= f.label :contact %>
  <%= f.text_field :contact %></div><br />
  
  <div><%= f.label :home_town %>
  <%= f.text_field :home_town %></div><br />
  
  <div><%= f.label :state %>
  <%= f.text_field :state %></div><br />
  
  <div><%= f.label :country %>
  <%= f.text_field :country %></div><br />
  
  <div><%= f.label :relationship_status %>
  <%= f.select :relationship_status, options_for_select([["Single", "s"], ["Married", "m"]]) %></div><br />

  <div><%= f.label :interest_in %>
  <%= f.select :interest_in, options_for_select([["Male", "m"], ["Female", "f"]]) %></div><br />
  
  <div><%= f.label :language %>
   <%= f.select :language, options_for_select([["English", "e"], ["Hindi", "h"]]) %></div><br />
  
  <div><%= f.label :religion %>
  <%= f.text_field :religion %></div><br />
  
  <div>
  <% resource.pictures.build %>
  <%= f.fields_for :pictures do |pic| %>
    <%= pic.file_field :image %>
  <% end %>
  </div><br />
  
  <div><%= f.submit "Sign up" %></div>
  
<% end %>

<%= render "devise/shared/links" %>
</div>
