<%= form_tag(welcome_users_path, method: 'GET') do %>
  <div class="navbar navbar-fluid-top">
    <div class="span11  well well-small"><h5>Find-Friend</h5>
      <%= text_field_tag :first_name %>
      <%= submit_tag "Search" %>
  <% end %>
    </div>
  </div></br></br></br></br></br></br>
  
<% @users.each do |user|%>
  <% if !(user.id==current_user.id ) %>
    <table width="100%" border="1" class= "table table-striped">
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>FriendRequest</th>
      </tr>
   
    <% #status= current_user.friendlists.where(:friend_id => user.id).first.friend_staus %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td>
              <div id ="inivitation">
                <%if current_user.friendlists.blank? %> 
                  <%= link_to "invit","#","data-user-id" => user.id, :class => "invite"%>        
                <%else%>                       
                  <%= user.friendlists.first.friend_staus %>
                <%end%> 
              </div>
            </td>

          </tr>
    </table>
    <%end%>
<% end %>

<script>
  $('.invite').click(function(form){
     var friend_id = $(this).data("user-id")
     $.ajax({
       type: 'GET',
       url: '/users/sendrequest',
       data: { id: friend_id}
     }).done(function(data,status){
       if(status=="success"){
        $("#inivitation").html("alreadyinvited");
       }
     });
   });
</script>

            

