
<div style="width:50px; height:50px;">
  <%= image_tag(current_user.pictures.last.image_url) if current_user.pictures.present?%>
</div>

<div style="background-color: #B2DAE8">
  <h3>Find Friend</h3>
  <%= form_tag(welcome_users_path, method: 'GET') do %>
      <%= text_field_tag :first_name %>
  <%= submit_tag "Search" %>
  <% end %>
</div>
 
<% unless @users.blank? %>
  <% @users.each do |user|%>
    <table width="100%" border="1">
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>FriendRequest</th>
    </tr>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><button>invite</button></td>
      <script>
      $(document).ready(function(){
        $("button").click(function(){ 
          $.get('<%= sendrequest_user_path(user) %> ', function(data,status){
            alert("Data: " + data + "\nStatus: " + status);
           });
         });
       });
    </script>
   </tr>
  </table>
 <% end %>
<% end %>



